fastapi
uvicorn
sqlalchemy
pydantic[email]
python-dotenv
psycopg2-binary
google-generativeai
prometheus-fastapi-instrumentator
bcrypt
passlib
python-jose
python-multipart
alembic
httpx
psutil
prometheus-client
google-genai